/* Variables */
:root {
    /* CSS HEX */

    --table-border: #420977 solid 10px;
    --table-background: #8438cc;
    --page-color: #6F2EAA;
    --case-color: #c4bbcc;
    --entree-color: #FCF235;
    --case-default-border : #420977 dotted 1px;
    --sortie-color: #F7343E;
    --wall-border: #520c94 solid 5px;
    --wall-border-radius: 10px;
}



/* debug */
/** {
    border: red solid 1px;
} */

html {
    background-color: var(--page-color);
}


table {
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.5);
    border: var(--table-border);
    border-collapse: collapse;
    background-color: var(--table-background);
    margin: auto;
    margin-top: 50px;
}
.selectContainer{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.select {
    border: var(--case-default-border);
    border-radius: 5%;
    text-align: center;
    font-size: 60px;
    height: 10vh;
    width: 40%;
}

/* cases */

.case {
    background-color: var(--case-color);
    border-collapse: inherit;
    border: var(--case-default-border);
    height: 5vh;
    width: 5vh;
}

.entree {
    background-color: var(--entree-color);
}

.sortie {
    background-color: var(--sortie-color);
}

.mur-haut {
    border-top: var(--wall-border);
}

.mur-bas {
    border-bottom: var(--wall-border);
}

.mur-gauche {
    border-left: var(--wall-border);
}

.mur-droite {
    border-right: var(--wall-border);
}


