/* Variables */
:root {
  /* General variables */
  --slight-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.5);


  /* Elements variables */
  --page-color: #fff065;

  --table-border: #420977 solid 3px;
  --table-background: #8438cc;
  --table-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.5);

  --square-color: #c4bbcc;
  --square-default-border: #420977 dotted 1px;
  --exit-color: #f7343e;
  --entrance-color: #fcf235;
  --wall-border: #520c94 solid 3px;
  --wall-border-radius: 10px;

  --select-color: #c4bbcc;
  --select-arrow-color: #f7343e;

  --button-color: #c4bbcc;
  --button-shadow: 0 5px 2px 1px rgba(0, 0, 0, 0.5);
  --button-pressed-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.5);
}

/* debug */
/** {
    border: red solid 1px;
} */

html {
  background-color: var(--page-color);
  font-family: monospace;
}
.backdrop{
  backdrop-filter: blur(5px);
  width: 100%;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
  align-items: center;
  width: 100%;
} .container > *{
  margin: 10px;
}

button{
  width: 10vh;
  height: 5vh;

  border-radius: 3px;
  background-color: var(--select-color);
  cursor: pointer;
  border: none;
  box-shadow: var(--button-shadow);
  transition: 0.25s all ease;
}
button:hover{
  position: relative;
  top: 2px;
}
button:active{
  position: relative;
  top: 5px;
  box-shadow: var(--button-pressed-shadow);
}

label{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 10vh;
  height: 5vh;

  text-align: center;
  justify-content: center;
  
  background-color: var(--select-color);
  border-radius: 3px;

  cursor: pointer;
  border: none;
  box-shadow: var(--button-shadow);
  transition: 0.25s all ease;
} 
input[type="checkbox"]{
  display: none;
} 
input[type="checkbox"]:checked  + label{
  background-color: var(--exit-color);
}input[type="checkbox"]:checked  + label::after{
  content: "active";
  color: white;
  font-size: 0.8em;
  font-weight: bold;
}

label:hover{
  position: relative;
  top: 2px;
}
label:active{
  position: relative;
  top: 5px;
  box-shadow: var(--button-pressed-shadow);
} label > p{
  margin: 0;
}


/* Code from https://codepen.io/mrphang/pen/XWxKdpV */
select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  background-color: var(--select-color);
  background-image: none;
  box-shadow: var(--slight-shadow);
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  display: flex;
  width: 30em;
  height: 3em;
  border-radius: 0.25em;
}
/* Arrow */
.select::after {
  content: "\25BC";
  padding: 1em;
  background-color: var(--select-arrow-color);
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Code from https://codepen.io/mrphang/pen/XWxKdpV */

.selectContainer {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

table {
  box-shadow: var(--table-shadow);
  border: var(--table-border);
  border-collapse: collapse;
  background-color: var(--table-background);
  transition: 0.2s all ease;
}

/* Squares classes */

.square {
  background-color: var(--square-color);
  border-collapse: inherit;
  border: var(--square-default-border);
  height: 5vh;
  text-align: center;
  width: 5vh;
  /* For animation */
  transition: 0.2s all ease;
}.square:hover{
  position: relative;
  border-radius: 5px;
  transform: scale(1.1);
}

.entrance {
  background-color: var(--entrance-color);
}

.exit {
  background-color: var(--exit-color);
}

.wall-top{
  border-top: var(--wall-border);
}

.wall-bottom {
  border-bottom: var(--wall-border);
}

.wall-left {
  border-left: var(--wall-border);
}

.wall-right {
  border-right: var(--wall-border);
}

/* debug classes */

.red {
  background-color: rgb(255, 89, 89);
}
.purple{
  background-color: rgb(198, 109, 216);
}
.solution{
  background-color: rgb(127, 255, 133);
  border-radius: 10px;
}